h1{
    text-align: center;
    font-size: 40px;
}
.take_input{
    font-size: 25px;
    margin:30px 25px;
    padding:10px;
    display: block;
}
#feild{
    background-color: #1e90ff;
    cursor: pointer;
}
#generate{
     background-color: rgb(29, 227, 82);
    cursor: pointer;
}
h2{
    margin:25px 30px;
    padding-left:30px;
    font-size: 25px;
}
#output{
    background-color: black;
    color: rgb(109, 172, 16);
    margin:30px 50px;
    padding:20px;
    height:300px;
    overflow-y: auto;
    border-radius: 8px;
    font-size: 15px;
}